*{
  margin:0;
  padding: 0;


}
body {
    overflow-x: hidden;
    position: relative;
    /* max-width: 100% */
    width:100vw;
}

header h1{
  color: #DED9D6;
  padding:25px 10px;
  font-family: "Hannotate TC";
  height: 121px;
}

header{
  background-color: #363535;
  height: 90px
}
header h1 span{
  color:#E66D04;
}

.main{
  background-image: url("../img/pc1.jpeg");
  background-size: cover;
  text-align: right;
  background-repeat: no-repeat;
  width: 100vw;

}
.main .main_top{
  font-size: 70px;
  color: #F5F4F2;
  padding:30px 100px;
font-family: "Hannotate TC";
}
.hr1 hr{
  border-width: 10px;
  border-color: #FF6C00;
  width: 10vw;
  float: right;
  margin-right:120px;
}
.main_content{
color: #F5F4F2;
font-size: 30px;
margin-right: 90px;
margin-top: 50px;
padding:20px 20px;
letter-spacing: 5px;
line-height:1.5;
font-family: "Hannotate TC";


}
.button1
{
  font-weight: bold;
  padding: 15PX 30PX;
  background-color: #FF7600;
  color: #fff;
  font-size: 1.65em;
  margin: 50px 120px;

}
.button1 a{
  text-decoration: none;
}
.button1:hover{
  background-color:#EAA061;
}

.aboutgumma p{
  font-family: "Hannotate TC";
  text-align:center;
  font-size:60px;
  margin: 60px;
}

.aboutgumma_content p{
  font-family: "Hannotate TC";
  text-align:center;
  font-size: 30px;
  margin: 50px;

}

.study01{
  display: block;
  margin: auto;
  width: 450px;
  height: 300px;
}

.feature_main p{
  font-family: "Hannotate TC";
  text-align:center;
  font-size:60px;
  margin-top: 40px;
}
.feature_content{
  font-family: "Hannotate TC";
  text-align: center;
  font-size: 30px;

  /* margin: 30px 100px 0px 150px; */
  padding: 50px;
}


div.Team01{

  font-family: "Hannotate TC";
  margin:3% 1%;
  padding: 25px;
  font-weight: bold;
  border: solid 1px #000000;
  box-shadow: 0px 0px 10px;
  width: 300px;
   height: 430px;
   font-size: 22px;
   float: left;
   text-align: center;
}

.Team01 span{
  font-size: 30px;
  color: #FF8000;

}
.Team01 img{
  width: 100%;
  width: 230px;
  height: 230px;
  /* padding: 10px;
  margin-left: 10px; */
  text-align: center;

}
.job01{

  font-family: "Hannotate TC";
  margin:3% 1%;
  padding: 25px;
  font-weight: bold;
  border: solid 1px #000000;
  box-shadow: 0px 0px 10px;
  width: 300px;
   height: 430px;
   font-size: 22px;
   float: left;
   text-align: center;
}
.job01 span{
  font-size: 30px;
  color: #FF8000;
  text-align: center;
}
.job01 img{
  width: 100%
  width: 230px;
  height: 230px;
  padding: 10px;
  margin-left: 10px;
}

.freelance01{

  font-family: "Hannotate TC";
  margin:3% 1%;
  padding: 25px;
  font-weight: bold;
  border: solid 1px #000000;
  box-shadow: 0px 0px 10px;
  width: 300px;
   height: 430px;
   font-size: 22px;
   float: left;
   text-align: center;
}
.freelance01 span{
  font-size: 30px;
  color: #FF8000;
  margin:0px;
  text-align: center;
}
.freelance01 img{
  width: 230px;
  height: 230px;
  padding: 10px;
  margin-left: 10px;
}
.content{
  margin-left: 15%;
  text-align: center;
}

footer{
  background-color: #434343;
  background-size: cover;
  margin: 0;

  width: 100vw;
  color: #FFFFFF;
  text-align: center;
  float: none;
  clear:both;


}
footer h2{
  margin: auto;
  margin: 50px auto 50px auto;
  padding-top: 50px;
  font-style: oblique;

}
.twitter1{
  width: 60px;
  height: 60px;


}
footer hr{
  text-align: center;
  border-width: 2px;
  border-color: #FF6C00;
  width:1180px;
  margin: 20px auto 20px auto;
}
footer p{
  font-size: 30px;
  margin:40px 0px 0px 0px;
  padding: 0px;
  font-style: oblique;

}
